@media (max-width: 992px){
    svg:not(:root){
        width: 86vw!important;
        height: 40!important;
    }
}

.leaflet-container .leaflet-control-attribution {
    display: none!important;
}

text {
    color: white!important;
}